@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    @font-face {
        font-family: "Dana"; /* 400 */
        src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium"; /* 500 */
        src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold"; /* 600 */
        src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"),
        url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"),
        url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"),
        url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }
    ::selection{
        background-color: #703BF7;
        color:white;
    }

}
@layer components{
    .flex-center{
        @apply flex justify-center items-center;
    }
    .container2{
        @apply mx-[16px] xl:mx-[162px];
    }
    .ltr-text{
        direction: ltr;
        text-align: ltr;
    }
    .open-sidebarmenu{
        @apply bg-[#13151d] fixed left-0 top-0 bottom-0 w-[65%] h-full z-40 md:hidden backdrop-blur-sm rounded-lg py-5 px-3 opacity-90;
    }
    .close-sidebarmenu{
        @apply invisible opacity-0 hidden;
    }
}
